# Flutter & Dart
.dart_tool/
.packages
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
flutter_export_environment.sh

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# Web
web/.dart_tool/

# Fastlane / tooling
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/readme.md

# Firebase/Secrets
lib/firebase_options.dart
*.keystore
*.jks
*.p12
*.pem

# Others
.metadata
pubspec.lock
